/* Réinitialisation des marges et paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden; /* Désactiver le scrolling inutile */
}

body {
  font-family: Arial, sans-serif;
}

/* Conteneur principal du carrousel */
.glider-contain {
  position: relative;
  width: 100%;
  max-width: 100dvw;
  height: 100%;
  max-height: 100vh;
  overflow: hidden; /* Assure qu'il n'y ait pas de défilement */
}

.glider {
  display: flex;
  overflow: hidden; /* Empêche le défilement horizontal */
  width: 100%;
}

.glider-prev,
.glider-next {
  display: block;
  border: none;
  color: #4caf50;
  padding: 10px;
  font-size: 3rem;
  position: absolute;
  top: 50%; /* Centre les flèches verticalement */
  transform: translateY(-50%);
  z-index: 999;
}

.glider-prev {
  left: 0; /* Positionner la flèche à gauche */
}

.glider-next {
  right: 0; /* Positionner la flèche à droite */
}

.glider-prev:hover,
.glider-next:hover {
  color: #45a049;
}

.chatbot-container {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Permet de centrer le contenu verticalement */
  position: relative;
}

/* Nom du chatbot */
.chatbot-name {
  font-size: 2rem;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  margin-bottom: 20px;
}

/* Intégration du chatbot */
.chatbot-embed {
  width: 100%;
  max-width: 100dvw;
  min-height: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Styles pour l'interface du chat */
.chat-interface {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 100dvw;
  height: 100dvh;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Fenêtre de chat où les messages apparaissent */
.chat-window {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto; /* Assure le scroll si contenu dépasse */
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 100%;
  background-repeat: no-repeat;
  background-position: bottom left; /* Position en bas à gauche */
  background-size: 100px 100px;
}

#chat-output-1 {
  background-image: url("./images/pompier.png");
}

#chat-output-2 {
  background-image: url("./images/gendarme.png");
}

#chat-output-3 {
  background-image: url("./images/citoyen-1.png");
}

#chat-output-4 {
  background-image: url("./images/citoyen-2.png");
}

#chat-output-5 {
  background-image: url("./images/citoyen-3.png");
}

/* Conteneur de l'input et du bouton d'envoi */
.chat-input-container {
  display: flex;
  padding: 10px;
  background-color: #f1f1f1;
  position: relative;
  z-index: 10;
  height: 70px;
}

/* Input de message */
.chat-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  background-color: #fff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  z-index: 99;
}

/* Bouton d'envoi */
.send-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.send-button:hover {
  background-color: #45a049;
}

@media screen and (min-width: 992px) {
  .chatbot-container {
    height: 90vh;
    max-height: 90vh;
  }

  .chatbot-embed {
    width: 100%;
    max-width: 500px;
    height: 80vh;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .chat-window {
    background-size: 200px 200px;
  }

  .glider-prev {
    left: 10px;
    cursor: pointer;
  }

  .glider-next {
    right: 10px;
    cursor: pointer;
  }

  .chat-interface {
    height: 100%;
  }
}
